{{>header}}
<p class="created">This site was created by Yamen Daher, it uses data from mapbox.com and weatherstack.com! </p>
<img class="profile-img" src="/assets/img/myimg.jpg" alt="my-image">

{{>footer}}